---
interface Props {
  urlNext?: string;
  urlPrevious?: string;
  titleNext?: string;
  titlePrevious?: string;
}

const { urlNext, urlPrevious, titleNext, titlePrevious } = Astro.props;
---

<footer
  id="post-pagination"
  class="flex flex-row gap-y-2 justify-between min-h-[100px] items-center border-t border-b border-gray-200"
>
  {
    urlPrevious && (
      <a
        class="inline-flex items-center gap-2 text-neutral-900 text-sm font-semibold font-sans underline uppercase underline-offset-2"
        href={urlPrevious}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z" />
        </svg>
        {titlePrevious}
      </a>
    )
  }
  {
    urlNext && (
      <a
        class="inline-flex items-center gap-2 text-neutral-900 text-sm font-semibold font-sans underline uppercase underline-offset-2"
        href={urlNext}
      >
        {titleNext}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" />
        </svg>
      </a>
    )
  }
</footer>
