---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import HeadLine from "@components/Headline/index.astro";
import Section from "@components/Section/index.astro";
import Card from "@components/Card/index.astro";

const allBlogPosts = (
  await getCollection(
    'articulos',
    ({ data }) => data.pubDate <= new Date()
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <HeadLine id="section-headline" />
  <Section id="section-articules" title="Últimos artículos">
    {
      allBlogPosts.map(({ data }) => (
        <Card
          title={data?.title}
          description={data?.description}
          image={data?.cover}
          url={`articulos/${data?.slug}`}
        />
      ))
    }
  </Section>
</BaseLayout>
