---
import Layout from '../layouts/Layout.astro';
import HeadLine from '../components/Headline';
import Articules from '../components/Articules';
---

<Layout title="Efrén Martínez - Frontend Engineer">
	<main class="relative z-10 mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8">
		<HeadLine />
		<Articules />
	</main>
</Layout>
