---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeadLine from '@components/Headline/index.astro';
import Section from '@components/Section/index.astro';
import Card from '@components/Card/index.astro';
import { postsList } from '@config/postsList';
---

<BaseLayout>
	<HeadLine id="section-headline" />
	<Section id="section-articules" title="Últimos artículos">
		{postsList.map(({title, image, description, url}) => (
			<Card title={title} description={description} image={image} url={url}  />
		))}
	</Section>
</BaseLayout>
