---
import Layout from '../layouts/Layout.astro';
import HeadLine from '../components/Headline';
---

<Layout title="Efrén Martínez - Frontend Engineer">
	<main class="relative z-10 mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8">
		<HeadLine />
		<h2 class="text-neutral-900 text-sm font-semibold font-sans">Últimos artículos</h2>
	</main>
</Layout>
