<header class="h-[124px] relative z-10 mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8">
    <nav class="h-[100%]">
        <ul class="h-[100%] flex flex-row items-center justify-between">
            <li>
                <a class="text-neutral-900 text-sm font-semibold font-sans" href="/">EFREN MARTINEZ</a>
            </li>
            <li>
                <a class="text-neutral-900 text-sm font-semibold font-sans cursor-pointer" href="mailto:efrencodes@gmail.com" role="button">contáctame en:
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
                    efrencodes@gmail.com
                </span></a>
            </li>
        </ul>
    </nav>
</header>