<header class="h-[130px] mx-auto max-w-screen-md px-4 py-10 sm:px-6 sm:py-12 lg:px-8 top-0 sticky bg-white">
    <nav class="h-[100%]">
        <ul class="h-[100%] flex flex-row items-center justify-between gap-2">
            <li>
                <slot name="navbar-action-primary">
                    <a class="text-neutral-900 text-sm font-semibold font-sans" href="#">#</a>
                </slot>
            </li>
            <li>
                <slot name="navbar-action-secondary" />
            </li>
        </ul>
    </nav>
</header>