---
interface Props {
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="mb-10">
	<h1 class="text-neutral-900 text-sm font-semibold font-sans">
		{title}
	</h1>
	<div class="mt-4">
		<slot />
	</div>
</section>
