---
import { SEO } from "astro-seo";
import Navbar from "@components/Navbar/index.astro";
import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      charset="UTF-8"
      title="Efrén Martínez - Frontend Engineer"
      description="Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress"
      canonical={new URL("https://www.efrencodes.com")}
      twitter={{
        creator: "@efrencodes",
        card: "summary_large_image",
        site: "https://www.efrencodes.com",
        title: "Efrén Martínez - Frontend Engineer",
        description:
          "Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress",
        image: "https://www.efrencodes.com/images/profile-efren-martinez.webp",
        imageAlt: "Profile - efrencodes",
      }}
      openGraph={{
        basic: {
          title: "Efrén Martínez - Frontend Engineer",
          image: "https://www.efrencodes.com/images/profile-efren-martinez.webp",
          url: new URL("https://www.efrencodes.com"),
          type: "summary_large_image",
        },
        optional: {
          description:
            "Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress",
          siteName: "Efrén Martínez - Frontend Engineer",
          locale: "es-MX",
        },
      }}
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta name="msapplication-TileColor" content="#d4d4d8" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      type="text/plain"
      rel="author"
      href="https://www.efrencodes.com/humans.txt"
    />
    <meta
      name="apple-mobile-web-app-title"
      content={new URL("https://www.efrencodes.com")}
    />
    <meta
      name="application-name"
      content={new URL("https://www.efrencodes.com")}
    />
    <meta name="theme-color" content="#d4d4d8" />
    <meta
      name="keywords"
      content="querétaro,tecnologia,software,web,desarrollo,fullstack,software engineer,developer,jamstack,vuejs,reactjs,méxico,typescript,tailwindcss,cypress,astro"
    />
    <meta name="author" content="Efrén Martínez" />
  </head>
  <body class="leading-loose antialiased overflow-x-hidden cursor-crosshair">
    <Navbar>
      <a
        slot="navbar-action-primary"
        class="text-neutral-900 text-sm font-semibold font-sans"
        href="/">efren martinez</a
      >
      <a
        slot="navbar-action-secondary"
        class="text-neutral-900 text-sm font-semibold font-sans cursor-pointer"
        href="mailto:hey@efrencodes.com"
        role="button"
        >contáctame en:
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          hey@efrencodes.com
        </span></a
      >
    </Navbar>
    <main class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <slot />
    </main>
  </body>
</html>
