---
import Navbar from "@components/Navbar/index.astro";
import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Efrén Martínez - Frontend Engineer</title>
    <meta name="description" content="Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress" />
    <link rel="canonical" href="https://efrencodes.com" />
    <link
      type="text/plain"
      rel="author"
      href="https://efrencodes.com/humans.txt"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta name="msapplication-TileColor" content="#d4d4d8" />
    <meta name="robots" content="index, follow" />
    <meta name="apple-mobile-web-app-title" content="https://efrencodes.com" />
    <meta name="application-name" content="https://efrencodes.com" />
    <meta name="theme-color" content="#d4d4d8" />
    <meta name="title" content="Efrén Martínez - Frontend Engineer" />
    <meta name="keywords" content="querétaro,tecnologia,software,web,desarrollo,fullstack,software engineer,developer,jamstack,vuejs,reactjs,méxico,typescript,tailwindcss,cypress,astro" />
    <meta name="author" content="Efrén Martínez - Frontend Engineer" />
    {/* Open Graph / Facebook */}
    <meta property="og:type" content="summary_large_image" />
    <meta property="og:url" content="https://efrencodes.com" />
    <meta property="og:title" content="Efrén Martínez - Frontend Engineer" />
    <meta property="og:description" content="Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress" />
    <meta property="og:image" content="/images/profile-efren-martinez.jpg" />
    <meta property="og:image:alt" content="Efrén Martínez - Frontend Engineer" />
    <meta property="og:image:width" content="1920" />
    <meta
      property="og:image:height"
      content="1080"
    />
    <meta property="og:locale" content="es-MX" />
    <meta property="og:site_name" content="Efrén Martínez - Frontend Engineer" />
    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://efrencodes.com" />
    <meta property="twitter:title" content="Efrén Martínez - Frontend Engineer" />
    <meta property="twitter:description" content="Frontend Engineer especializado en #javascript #vue #react #typescript #withastro #nextjs #cypress" />
    <meta property="twitter:image" content="/images/profile-efren-martinez.jpg" />
    <meta property="twitter:creator" content="@efrencodes" />
    <meta property="twitter:site" content="Efrén Martínez - Frontend Engineer" />
    <meta property="twitter:image:alt" content="Efrén Martínez - Frontend Engineer" />
    {/* Bing Webmaster Tools */}
    <meta name="msvalidate.01" content="CFB0EE4F9641D78D3282FD8FAA6D0565" />
    {/* ahrefs */}
    <meta
      name="ahrefs-site-verification"
      content="9ad8ba080db7b2dfb9e2af32909749dbec24348bbee6f5aefc5de4e9d28c6b87"
    />
  </head>
  <body class="leading-loose antialiased overflow-x-hidden">
    <Navbar>
      <a
        slot="navbar-action-primary"
        class="text-neutral-900 text-sm font-semibold font-sans"
        href="/">efren martinez</a
      >
      <a
        slot="navbar-action-secondary"
        class="text-neutral-900 text-sm font-semibold font-sans cursor-pointer"
        href="mailto:hey@efrencodes.com"
        role="button"
        >contáctame en:
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          hey@efrencodes.com
        </span></a
      >
    </Navbar>
    <main class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <slot />
    </main>
  </body>
</html>
