---
import Navbar from '@components/Navbar/index.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="leading-loose antialiased overflow-x-hidden">
		<Navbar>
			<a slot="navbar-action-primary" class="text-neutral-900 text-sm font-semibold font-sans" href="/">IR A ATRÁS</a>
		</Navbar>
		<main class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
			<slot />
		</main>
	</body>
</html>
