---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="leading-loose antialiased overflow-x-hidden min-h-full">
		<header class="h-[124px] relative z-10 mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8">
			<nav class="h-[100%]">
				<ul class="h-[100%] flex flex-row items-center justify-between">
					<li>
						<a class="text-neutral-900 text-sm font-semibold font-sans" href="/">EFREN MARTINEZ</a>
					</li>
					<li>
						<a class="text-neutral-900 text-sm font-semibold font-sans cursor-pointer" href="mailto:efrencodes@gmail.com" role="button">contáctame en:
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
							efrencodes@gmail.com
						</span></a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="relative z-10 mx-auto max-w-screen-md py-6 px-4 sm:px-6 lg:px-8"></main>
			<slot />
		</main>
	</body>
</html>
